/* homework lecture-04 */
/* Завдання 2. */

h1,
h2,
h3 {
  color: gray;
}

#main {
  color: #e60202;
}

h2 {
  color: red;
}

.heading {
  color: green;
}

/* Завдання 3. */

ul > li {
  font-weight: bold;
}

section > p {
  color: red;
}

section p {
  font-size: xx-large;
}

/* - Чи зміниться колір тексту p всередині елемента div?
Ні, оскільки сценарій в селекторі прописаний для прямого нащадка з в секції.
- змінити розмір шрифту всіх елементів p всередині елемента section, незалежно від їхнього рівня вкладеності. */

section p {
  font-size: 800;
}
h2:first-of-type {
  color: indigo;
}

p.first a {
  color: green;
}

div ~ p {
  color: salmon;
}

/* Маємо іменовані кольори black, blue, green, red, white, yellow. */

Black {
  color: #000000;
  color: rgb(0, 0, 0);
  color: hsl(0deg, 100%, 0%);
  color: rgb(0, 0, 0 / 1);
}

Blue {
  color: #000fff;
  color: rgb(0, 0, 255);
  color: hsl(215deg, 100%, 25%);
  color: rgb(0, 0, 255 / 1);
}

Green {
  color: #00ff00;
  color: rgb(0, 255, 0);
  color: hsl(120deg, 100%, 50%);
  color: rgb(0, 255, 0 / 1);
}

Red {
  color: #ff0000;
  color: rgb(255, 0, 0);
  color: hsl(0deg, 100%, 50%);
  color: rgb(255, 0, 0 / 1);
}

White {
  color: #ffffff;
  color: rgb(255, 255, 255);
  color: hsl(255deg, 100%, 100%);
  color: rgb(255, 255, 255 / 1);
}

Yellow {
  color: #ffff00;
  color: rgb(255, 255, 0);
  color: hsl(60deg, 100%, 50%);
  color: rgb(255, 255, 0 / 1);
}

.translucent-box {
  background: hsl(0deg 100% 50% / 0.5);
}

html {
  font-size: 100%;
}
body {
  font-size: 140%;
}

h1 {
  font-size: 240%;
}
