/* Налаштуйте grid-властивості так, щоб кожний елемент з класом card мав мінімальну ширину, що дорівнює 100% або var(--min), та максимальну ширину, що дорівнює мінімальній ширині або 1fr. Встановіть автоматичну підгонку стовпчиків. */

.grid {
  --min: 30ch;

  display: grid;

  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--min)), 1fr);
}

body {
  --padding: 5vw;
  --max-width: 180ch;
}

.card {
  min-width: 100%;
  max-width: minmax(100%, 1fr);
}
