/* Завдання 2. */

a {
  color: indigo;
}

a:visited {
  color: gold;
}

a:hover {
  color: salmon;
}

a:active {
  color: red;
}

a:focus {
  color: orange;
}

/* Завдання 3. */
input:in-range {
  background-color: rgb(0, 255, 0 / 0.25);
}

input:out-of-range {
  background-color: rgb(255, 0, 0 / 0.25);
}

/* Завдання 4. */
.ul-4 li:first-child {
  color: orange;
}

/* Завдання 5. */
.ul-5 :first-of-type {
  color: orange;
}

/* Завдання 6. */
.ul-6 :last-of-type {
  color: orange;
}

/* Завдання 7. */
.ul-7 li:not(.first-item) {
  color: orange;
}

.ul-7 li:not(.first-item):not(:last-of-type) {
  background: yellow;
  color: black;
}

/* Завдання 8. */
ol :nth-child(2) {
  color: orange;
}
ol :nth-child(2n) {
  color: orange;
}
ol :nth-child(2n + 6) {
  color: orange;
}

/* Завдання 9. */
h1.ua::before {
  content: "Слава ";
}

/* Завдання 10. */
h1.hero::after {
  content: " Слава!";
}

/* Завдання 11. */
.cont::before {
  content: "0A7";
}
