/* Створіть сітку з 3-х колонок.
Налаштуйте grid-властивості так, щоб header займав 3 колонки, main - 2 колонки, footer - 3 колонки. */

.grid-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "h h h"
    "s m m"
    "f f f";
}
.header {
  grid-area: h;
}

.sidebar {
  grid-area: s;
}

.main {
  grid-area: m;
}

.footer {
  grid-area: f;
}
